body {
  font-family: "Space Mono", monospace;
}
h1 {
  color: #ff8aae;
}

i {
  font-size: 12px;
  color: #f9d714;
  padding-top: 15px;
  padding-bottom: 15px;
}
form {
  text-align: center;
  margin-top: 10px;
 
}
ul {
  list-style: none;
  font-size: 11px;
  margin: 0 auto;
  padding: 0;
}
li {
  height: 20px;
  line-height: 20px;
  margin: 0 auto;
}
p {
  color: #ff8aae;
}
.card {
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  --bs-border-color: #9adcff;
  --bs-border-color-translucent: none;
  display: block;
  margin-top: 10px;
  
  
}
.card-body {
  background-color: #ffb2a6;
  border: 3px solid #9adcff;
  border-radius: 25px;
  
}
.card-title {
  font-size: 12px;
}
.card-text {
  color: #fff89a;
  font-size: 12px;
  
}
.footer {
  color: #000;
  font-size: 12px;
  font-family: "Source Code Pro", monospace;
  opacity: 70%;
  display: block;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}
.large-icon {
  font-size: 50px;
  color: #f9b014;#
  height: 62px;
  line-height: 62px;
}
.rain {
  color: #6dcafc;
}
.thunder {
  color: rgb(83, 82, 82);
}
.temperature {
  font-weight: bold;
  font-size: 30px;
}
.units {
  position: relative;
  top: -34px;
}

.button {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  
  font-size: 14px;
}
.weather-box {
  background: #fff89a;
  border: 6px solid #9adcff;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 30px;
  margin: 0 auto;
  max-width: 600px;
}

#celsius,
#fahrenheit,
a:hover {
  cursor: pointer;
}

#currentTemp {
  color: #6dcafc;
  font-size: 60px;
  font-weight: 400;
  height: 65px;
  line-height: 65px;
}
#description {
  font-style: italic;
  font-size: 13px;
}
#locationButton {
  margin-top: 10px;
  height: 38px;
  padding: 6px 12px 6px 12px;
  font-size: 12px;

}
.search-button {
  margin-top: 10px;
 
}